<div align="center" >


    <h1>Lista de Tareas</h1>

    <div class= "container">

        <% @todos.each do |todo| %>
                <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5><p class="card-title"><%= todo.description %></p></h5>
               
                                        
                </div>
                    <button type="button" class="btn btn-outline-secondary"><%= link_to "Mostrar Tarea", todo %></button>
                    <button type="button" class="btn btn-outline-success"><%= link_to "Edit Tarea", edit_path(todo) %></button>
                    <button type="button" class="btn btn-outline-danger"><%= link_to "Eliminar Tarea", todo, method: :delete %></button>
                    <button type="button" class="btn btn-outline-info"><%= link_to "Completar Tarea", completed_path(todo) %></button>

                </div>   
                <br> 
        <% end %>
        
        
    </div>

    



<div>